html, body
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

header
{
  width: 100%;
  height: 10vh;
}
main
{
  width: 100%;
  height: auto;
}
footer
{
  width: 100%;
  height: 10vh;
}
